{% extends "layout.html" %}
{% block content %}
    <div class="user">
        <h3 id="Title">Login</h3>
            <form action='/home' method="post">
                {{ form.hidden_tag() }}
                {{ form.username }}
                {{ form.password }}
                {{ form.role(id="type_role") }}
                <br><br>
                {{ form.submit }}                
            </form>
            <p id="message">For password recovery contact Mgr.</p>
            {% with messages = get_flashed_messages()%}
            {% if messages%}
                {% for message in messages%}
                    <p id="display_flash">{{message}}</p>
                {%endfor%}
            {%endif%}
            {%endwith%}
    </div>
{% endblock content %}